# =========================
# Java / Spring Boot
# =========================
target/
*.log
*.class
*.jar
*.war
*.ear

# Maven
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Gradle
.gradle/
build/

# =========================
# IDEs
# =========================
# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / Secrets
# =========================
.env
*.env

application-local.yml
application-dev.yml

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# Database (if local files used)
# =========================
*.sql
*.db

# =========================
# Misc
# =========================
node_modules/
dist/